@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */
.navbar{
    background-color:#FFB243;
}
body{
    background-color: #f9f9f9;
}
.button-log-out{
    padding: .3rem 2rem;
    border-radius: 22px;
    border: 1px solid #599A8E;
    background-color: #9BAC7F;
}
.button-log-out:hover{
    background-color: #599A8E;
}