@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
    height: 100%;
    width: 100%;
}
/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */
.navbar{
    background-color:#FFB243;
}
body{
    background-color: #f9f9f9;
}
.button{
    padding: .3rem 2rem;
    border-radius: 22px;
    border: 1px solid #599A8E;
    background-color: #9BAC7F;
    color: white;
}
.button:hover{
    background-color: #599A8E;
}
.add-task-button{
    background-color: #9bac7f98;

}
.add-task-title{
    font-size: 1.4rem;
    color: #131D3B;
}
.input-field .input{
    padding: 0 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(24, 41, 47, 0.1);
}
.input-field .input:focus{
    outline: 2px solid #599A8E;
}
textarea{
    min-height: 24px;
    max-height: 100px;
}